/* Stylesheet */


body {  
  /* Horizontal and Vertical Center */
  font-family: 'Zodiak-Regular';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-size: 5vmin;
  text-align: center;
  
  /* Add contrast to text */
  background-color: rgba(249, 249, 249, 0.534);
}